a{
    color:white;
}
h6{
    color:white;
    opacity:70%;
}
#contenedorultra
{
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 21px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2d4a ;
}
#contenedor {
    position: relative;
    width: 40%;
    height: 90%;
    
    border-radius: 21px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2d4a ;
}
.contenedormsg {
    position: absolute;
    top:10%;
    width: 100%;
    height: 65%;
    
    
    margin: 50px auto;
    display: flex;
    flex-direction: column;
   
    background-color: #0d4070;
}
#contenedorperfil {
    position: relative;
  
    width: 100%;
    height: 65%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: #0d4070;
    justify-content: left;
    align-items:  flex-start;
}
    #contenedorperfil nav {
        margin:auto 40px;
        justify-content: left;
        align-items: center;
    }

.continuebutton {
    position: absolute;
    bottom: 50px;
    background-color: #ac195d;
    color: white;
    padding: 12px 14px;
    margin: 8px auto;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    width: 40%;
    text-align:center;
}

continuebutton:hover {
    opacity: 0.5;
}

.posicionlogin {
    position: absolute;
    top: 40%;
    background-color: #0d4070;
    width: 65%;
    color: #000;
    border-radius: 21px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promociones {
    position: relative;
   
    width: 340px;
    
    border-radius: 21px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    row-gap: 10px;
   
}
.mensajes {
    position: relative;
    height: 50px;
    width: 200px;
    background-color: #ac195d;
    border-radius: 21px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#logoPequeno {
    height: 120px;
    width: 120px;
    top: 50px;
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
   
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    transform: translate(0%, 60%)
}

.titulo{
    position: relative;
    width: 70px;
    height: 60px;
  
    margin: 30px 300px;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circulo{
  height: 50px;
  width: 50px;
  background-color: #51b5e2;
  border-radius: 50%;
  display: inline-block;

}
.perfil {
    background-image: url("../img/perfil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.buscar {
    background-image: url("../img/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    background-color: #1e2d4a;
    border-radius: 50%;
    display: inline-block;
}
.etiqueta{
  height: 50px;
  width: 50px;
  padding: 2px 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: 10px solid #0d4070;
  border-radius: 21px;
  box-sizing: border-box;
}

button {
  background-color: #ac195d;
  color: white;
  padding: 12px 14px;
  margin: 8px auto;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  width: 40%;
  
}
.buttonlogin {
    background-color: #ac195d;
    color: white;
    padding: 12px 14px;
    margin: 8px auto;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    width: 40%;
    justify-content:center;
    text-align :center;
}

button:hover {
  opacity: 0.5;
}
.main {
  width: 60%;
  height: 50%;
  background-color: #0d4070;
  border-radius: 21px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0%, 0%);
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.grid {
    position:relative;
    top: 10%;
    display: grid;
    width: 80%;
    height: 30%;
    
    grid-template-columns: auto auto auto auto;
    margin: 4px;
  
    justify-content:space-around;
}

input[type=checkbox] {
  display: inline-block;
  border: 10px solid #C4C4C4;
  border-radius: 21px;
  box-sizing: border-box;
  transform: translate(100%, 20%);
}

.textBox{
  background-color: #0d4070;
  width: 80%;
  color: #000;
  border-radius: 21px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
  display: flex; 
  align-items: center;
  justify-content:center;
}
    .textBox nav {
        cursor: pointer;
    }

   .textBox nav:hover {
            opacity: 0.5;
    }


.sorterRow{
   height: 90px;
  display: flex;
  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom:10%;
}
.sorterprofile{
    width: 190px;
   height: 90px;
  display: flex;
 
  flex-direction: row;
  align-items: center;
  justify-content:center;
  
 
}
#msginput {
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 18px 18px;
    width: 100%;

}
#msginput nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}
#bottommenu {
    position: absolute;
    background: #ac195d;
    bottom: 0px;
    height: 60px;
    width: 100%;
    align-items: center;
    
    border-radius: 0 0 18px 18px;
}
#bottommenu nav {
    display: flex;
    align-items: center;
    height: 100%;
    width:100%;
    justify-content: space-around;
}

.sorterColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.square{
  height: 140px;
  width: 140px;
  background-color: #51b5e2;
  border-radius: 21px;
  display: inline-block;
  margin-top: 4%;
  margin-bottom: 4%;
  justify-content:space-between;
}
.smallSquare{
  height: 50px;
  width: 50px;
  background-color: #dadada;
  border-radius: 21px;
  display: inline-block;
  margin: 1%;
}
.backbutton {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 50px;
    width: 50px;
    background-color: #51b5e2;
    border-radius: 50%;
    display: inline-block;
    background-image: url("../img/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.btnchat {
    background-image: url("../img/btnchat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 60px;
    
    
    display: inline-block;
    margin: 1%;
}
.btnhorario {
    background-image: url("../img/btnhorario.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 60px;
 
    
    display: inline-block;
    margin: 1%;
}
.btnpostulaciones {
    background-image: url("../img/btnpostulaciones.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 60px;
    
    
    display: inline-block;
    margin: 1%;
}
.btnperfil {
    background-image: url("../img/btnperfil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 60px;
    
    
    display: inline-block;
    margin: 1%;
}
.linea {
    height: 2px;
    background: white;
    width:80%;
    margin-left:40px;
    transform:translate(0px, -20px);
}

.artist2d {
    background-image: url("../img/anim2d.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    display: inline-block;
    margin: 1%;
}
.artist3d {
    background-image: url("../img/anim3d.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    display: inline-block;
    margin: 1%;
}
.conceptartist {
    background-image: url("../img/conceptart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    display: inline-block;
    margin: 1%;
}
.uiux {
    background-image: url("../img/ui.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    display: inline-block;
    margin: 1%;
}
.prog {
    background-image: url("../img/prog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    display: inline-block;
    margin: 1%;
}
.sound {
    background-image: url("../img/sound.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    display: inline-block;
    margin: 1%;
}
.exint {
    background-image: url("../img/exint.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    display: inline-block;
    margin: 1%;
}
.gamedes {
    background-image: url("../img/gamedes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    display: inline-block;
    margin: 1%;
}





.msg {
    display: flex;
    align-items: flex-end;
    margin: 30px;
    
}

    .msg:last-of-type {
        margin: 0;
    }

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
    color:white;
}

.right-msg {
    flex-direction: row-reverse;
}

    .right-msg .msg-bubble {
        background: var(--right-msg-bg);
        color: white;
        border-bottom-right-radius: 0;
    }

    .right-msg .msg-img {
        margin: 0 0 0 30px;
    }



.msger-input {
    flex: 1;
    background: #ddd;
}

.msger-send-btn {
    margin-left: 10px;
    background: #ac195d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

    .msger-send-btn:hover {
        opacity:0.5;
    }